rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /apps/gvcassistant {
        function makePath(child) {
            return /databases/$(database)/documents/apps/gvcassistant/$(child);
        }

        function isDocOwner(doc) {
           return request.auth.uid in doc.data.owners;
        }

        function inWhitelist(doc) {
           return request.auth.token.email in doc.data.whitelist;
        }

        function inDomain(doc) {
           return doc.data.access == 'domain' && request.auth.token.email.replace("^.*@", '') == doc.data.domain;
        }

        function canAccessFeed(roomId) {
            let room = get(makePath(/rooms/$(roomId)));
            return room.data.closed != true && room.data.access == 'link' || inWhitelist(room) || inDomain(room) || isDocOwner(room);
        }

        function canSeeRoom(room) {
            return isDocOwner(room) || inDomain(room) || inWhitelist(room);
        }

        match /publicProfiles/{uid} {
            allow get: if request.auth.uid != null;
        }

        match /privateProfiles/{uid} {
            allow get: if request.auth.uid == uid;
        }

        match /rooms/{roomId} {
            allow get: if canSeeRoom(resource) || !exists(makePath(/rooms/$(roomId)));
            allow list: if request.query.limit < 200 && resource.data.closed == false && (isDocOwner(resource) || inWhitelist(resource));

            allow create: if isDocOwner(request.resource);
            allow delete: if isDocOwner(resource);

            match /feed/{eventId} {
                allow get, write: if canAccessFeed(roomId);
                allow list: if request.query.limit <= 200 && canAccessFeed(roomId);
            }
        }
    }
  }
}